@import "./../../styles/index.scss";
.list__area {
  margin-top: 30px;
  background-color: $white;
  border-radius: $borderRadius;
  .action__area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(#707070, 0.3);
    padding: 14px 12px;
    .selectAll__Svg {
      cursor: pointer;
      color: rgba($textColor, 0.5);
      padding: 4px;
      transition: all 0.3s linear;
      &.active {
        color: green;
      }
      &:hover {
        color: $textColor;
      }
    }
  }
  .tasklist {
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $textColor;
      border-bottom: 1px solid rgba(#707070, 0.3);
      padding: 14px 12px;
      &__form {
        margin-right: auto;
        margin-left: 14px;
        width: 50%;

        .edit__input {
          font-family: inherit;
          border: 1px solid rgba(#707070, 0.3);
          background-color: $white;
          outline: none;
          width: 100%;
          font-size: 14px;
          padding-top: 6px;
          padding-bottom: 6px;
          padding-left: 6px;
        }
      }
      &__title {
        flex: 1;
        font-size: 16px;
        margin-left: 14px;
        cursor: pointer;
        &.mark {
          text-decoration: line-through;
        }
      }
      .itemSvg {
        cursor: pointer;
        color: rgba($textColor, 0.5);
        padding: 4px;
        &.mark {
          color: $textColor;
        }
      }
      .closeSvg {
        color: rgba(red, 0.5);
        transition: all 0.4s linear;
        &:hover {
          color: red;
        }
      }
    }
  }
  &__info {
    padding: 14px 20px;

    p {
      color: $textColor;
    }
  }
}
