@import "./../../styles/index.scss";

.form{
    position: relative;
    
    // background-color: green;
    .new__item{
        border-radius:$borderRadius;
        height: 48px;
        padding-left: 50px;
        padding-right: 20px;
        width: 100%;
        display: block;
        border: none;
        font-family: inherit;
        background-color: #fff;
        font-size: 16px;
        color:#000000;
        outline: none;

    }
    .svgIcon{
        position: absolute;
        left: 10px;
        top:50%;
        transform: translateY(-50%);
        color:$textColor;
    }
    .iconPlus{
        left: auto;
        right: 10px;
        cursor: pointer;
        &:hover{
            color: rgba($textColor, .8);
        }
    }
}